__pycache__
homologs.txt.gz
models
pdb
protein.log
trainer.log
timeloading.py
BLASTloader.log
data/dir.des.scope.2.08-stable.txt
data/foldseek_list.txt
data/homologs_filtered.txt.gz
data/homologs_foldseek.txt.gz
data/pdb_chainsplit
data/pdb_chainsplit_nres.png
data/pdb_chainsplit_nres.txt.gz
data/preprocess.py
data/protein_chains.txt
data/protein_list.json
data/small.hdf5
data/toobig.txt
test.ann
test.h5
test.pickle
test.py
trainer.log~20220907-180630~
test2.h5
index_test/annoy.ann
index_test/mapping.h5
analysis/data/foldseekaln.gz~20220215-023011~
analysis/data/foldseekresults.pickle
analysis/out/foldseek_3.svg
analysis/out/foldseek_3.txt
analysis/out/foldseek_1.svg
analysis/out/foldseek_1.txt
analysis/out/foldseek_1_2.svg
analysis/out/foldseek_1_2.txt
analysis/out/foldseek_1_2_3.svg
analysis/out/foldseek_1_2_3.txt
analysis/data/scope_dict_result.p
analysis/out/foldseek_2.svg
analysis/out/foldseek_2.txt
